@import "./index.css";

#intro-sect {
    /* let text & image be side by side */
    flex-wrap: wrap;

    /* center section on page like floating */
    position: relative;
    margin-left: auto;
    margin-right: auto;

    /* has specific width so page can expand gutters not actual section */
    /* width: 900px;  */
    width: 80%;

    /* top | right | bottom | left */
    padding: 5em 0 0.05em 0;
    background-color: var(--light-grey);
}

#text-col {
    flex-basis: 50%;
    max-width: 50%;
    margin-left: 5%;
}

#img-col {
    flex-basis: 40%;
    max-width: 40%;
    margin-left: 4.9998%;
} 

@media screen and (max-width: 55em) {
    #intro-sect {
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;
        overflow: auto;
    }

    #text-col {
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 8%;
        text-align: center;
    }

    #text-col p {
        padding-left: 10%;
        padding-right: 10%;
    }

    #img-col {
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    #img-col img {
        position: relative;
        width: 80%;
        height: auto;
        /* vertical-align: bottom; */
    }

    #intro-title {
        margin-bottom: 0.5em;
    }
}

@media screen and (min-width: 55em) {
    #intro-sect {
        display: flex;
        flex-direction: row;
        width: 80%;
        text-align: left;

        /* cuts off image on edge */
        overflow: hidden;
    }
    
    #text-col {
        flex-basis: 50%;
        max-width: 50%;
        margin-left: 5%;
    }

    #text-col p {
        padding-bottom: 1em;
    }

    #img-col {
        flex-basis: 40%;
        max-width: 40%;
        margin-left: 4.9998%;
    }

    #img-col img {
        position: relative;
        right: 0;
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }

    #intro-title {
        margin-bottom: 0.7em;
    }
}


/* === V1 DYNAMIC IMAGE === */
/* image to match container sizing */
/* #img-col img {
    position: relative;
    width: 100%;
    height: auto;
} */
/* the containers */
/*
#img-col {
    flex-basis: 39.99998%;
    max-width: 39.999998%;
    margin: 0;
} */
/* #text-col {
    flex-basis: 60%;
    max-width: 60%;
} */
/* === V1 DYNAMIC IMAGE DONE === */

img {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 42px;
    line-height: 1.1;
    font-weight: 600;
    color: var(--deep-grey);
}

p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 400;
}

main {
    background-color: white;
}
